.Cashback {
	display: flex;
	align-items: center;
}

.Cashback-offer {
	font-size: 1.5rem;
	color: green;
}

.Cashback-text {
	color: #675c5c;
	font-size: 1.25rem;
}

.Cashback-info {
    color: #675c5c;
    font-size: 1.25rem;
    font-weight: lighter;
}
