.Button {
	padding: 1rem;
	font-size: 1.5rem;
	width: 100%;
	background: rgb(234, 56, 77);
	background: linear-gradient(
		90deg,
		rgba(234, 56, 77, 1) 0%,
		rgba(234, 56, 101, 1) 14%,
		rgba(234, 56, 158, 1) 100%
	);
	color: white;
	border: none;
	cursor: pointer;
}
.btn-grad:hover {
	background-position: right center;
}
