.App {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #dedede;
	height: 100vh;
}

.pr-1 {
	padding-right: 1rem;
}

.text-muted {
	color: gray;
}

.opacity-half {
	opacity: 0.5;
}

.pb-1 {
	padding-bottom: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}
